@font-face {
    font-family: Bubble;
    src: url('fonts/bubble.otf');
}
@font-face {
    font-family: Riffic;
    src: url('fonts/RifficFree-bold.ttf');
}
@font-face {
    font-family: Cartoonist;
    src: url('fonts/cartoonist.ttf');
}
body {
    background: url('images/bg-tiled.png') fixed;
    overflow: hidden;
    font-family: Cartoonist;
    font-size: 17px;
    cursor: crosshair;
}
h1 {
    font: normal 40px Riffic;
    line-height: 40px;
    text-transform: uppercase;
    margin: 10px 0px 15px;
    letter-spacing: 3px;
}
h2, h3 {
    font: bold 30px Cartoonist;
    letter-spacing: 1px;
    margin: 0;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
#cloud {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#title {
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 10%;
}
#title h1 {
    text-align: center;
}
#board {
    position: fixed;
    top: 15%;
    left: 28%;
    width: 40%;
    height: 80%;
    z-index: 99;
}
#board img#game {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}
#header {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 40px;
    box-sizing: border-box;
    z-index: -9999;
}
#instructions {
    width: 23%;
    line-height: 18px;
}
#instructions ol {
    padding-left: 30px;
}
#instructions ol li {
    margin: 15px 0px;
}
#characters {
    position: fixed;
    top: 5%;
    right: 3%;
    width: 23%;
    height: 40%;
    text-align: center;
    z-index: 100;
}
.drag {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
}
.drag:hover {
    cursor: grab;
}
.dragging {
    cursor: grabbing !important;
}
.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #000;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #48BEAC;
    cursor: pointer;
    border-radius: 999px;
    border: 1px solid #000;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #48BEAC;
    cursor: pointer;
    border-radius: 999px;
}
.diff {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1px 0px;
    width: 70px;
    border-radius: 999px;
    font-size: 14px;
    letter-spacing: 1px;
}
span.easy, span.hard, span.expert {
    display: none;
}
span.easy {
    background: #7BBB34;
}
span.medium {
    background: #F79300;
}
span.hard {
    background: #FF0000;
}
span.expert {
    background: #770000;
    color: #fff;
}
.char {
    width: auto;
    height: 100px;
}
.hand {
    width: auto;
    height: 60px;
}
#cards {
    position: fixed;
    bottom: 0%;
    right: 3%;
    width: 22%;
    height: 370px;
    z-index: 999;
}
#cardtable {
    display: table;
    border-spacing: 10px;
    width: 100%;
    height: 200px;
    height: auto;
    table-layout: fixed;
}
.carddiv {
    width: 50%;
    height: 200px;
    background-image: url('images/bg-tiled-blue.png');
    background-size: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    border: 4px solid #000;
}
.whitebg {
    background: #fff;
}
.cardcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cardcontainer img {
    width: 100%;
    height: 100%;
}
button#next_turn {
    font-family: Cartoonist;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.fadein {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in;
}
.test {
    display: none;
}
