@font-face {
    font-family: Bubble;
    src: url('../fonts/bubble.otf');
}
@font-face {
    font-family: Riffic;
    src: url('../fonts/RifficFree-bold.ttf');
}
@font-face {
    font-family: Cartoonist;
    src: url('../fonts/cartoonist.ttf');
}
@font-face {
    font-family: MusiSync;
    src: url('../fonts/Musisync-qYy6.ttf');
}
body, html {
    width: 100%;
    height: 100%;
}
body {
    background: url('../images/bg-tiled-yellow.png') fixed;
    overflow: hidden;
    font-family: Cartoonist;
    font-size: 17px;
    cursor: crosshair;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
h1 {
    font: normal 40px Riffic;
    line-height: 40px;
    text-transform: uppercase;
    margin: 10px 0px 15px;
    letter-spacing: 3px;
}
h2, h3 {
    font: bold 30px Cartoonist;
    letter-spacing: 1px;
    margin: 0;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
}
span.notation {
    font-family: MusiSync;
    display: block;
    font-size: 40px;
}
#cloud {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
div#title {
    position: absolute;
    top: -13%;
    left: 0;
    width: 100%;
    height: 10%;
}
img#title {
    height: 85%;
}
#title h1 {
    text-align: center;
}
#board {
    position: fixed;
    top: 15%;
    left: 28%;
    width: 40%;
    height: 80%;
    z-index: 99;
}
#board img#game {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
}
#header {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 40px;
    box-sizing: border-box;
    z-index: -9999;
}
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 23vw;
    height: 100%;
    padding: 20px 0 0 30px;
}
#instructions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 23vw;
    z-index: 9999999;
    font-size: 0;
}
img.title {
    width: 100%;
}
#view-instructions {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 23vw;
    height: auto;
    padding: 20px;
    border: 1px solid #000;
    border-width: 1px 1px 0 0;
    font-size: 17px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    background: #fff;
    z-index: 9999999;
}
#instructions:hover #view-instructions {
    display: block;
}
#instructions ol {
    padding-left: 30px;
}
#instructions ol li {
    margin: 15px 0px;
}
#characters {
    position: fixed;
    top: 0;
    right: 0;
    width: 23%;
    height: 100%;
    text-align: center;
    background: #BAA3CD url('../images/purplebubbles.jpg') bottom center no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    border-left: 1px solid #000;
    z-index: 1000;
}
.pos_rel {
    width: 100%;
    height: 100%;
    position: relative;
}
.drag {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  position: absolute;
}
.drag:hover {
    cursor: grab;
}
.dragging {
    cursor: grabbing !important;
}
.slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #000;
    outline: none;
    opacity: 0.7;
    transition: opacity .15s ease-in-out;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #48BEAC;
    cursor: pointer;
    border-radius: 999px;
    border: 1px solid #000;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #48BEAC;
    cursor: pointer;
    border-radius: 999px;
}
.diff {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1px 0px;
    width: 70px;
    border-radius: 999px;
    font-size: 14px;
    letter-spacing: 1px;
}
span.easy, span.hard, span.expert {
    display: none;
}
span.easy {
    background: #7BBB34;
}
span.medium {
    background: #F79300;
}
span.hard {
    background: #FF0000;
}
span.expert {
    background: #770000;
    color: #fff;
}
.char {
    width: auto;
    height: 100px;
}
.hand {
    width: auto;
    height: 60px;
}
#cards-orig {
    position: fixed;
    bottom: 0%;
    right: 3%;
    width: 22%;
    margin-bottom: 1rem;
    z-index: 999;
}
#cards {
    width: 100%;
}
#cardtable {
    display: table;
    border-spacing: 10px;
    width: 100%;
    height: 200px;
    height: auto;
    table-layout: fixed;
}
.carddiv {
    width: 50%;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.pullcard {
    background-image: url('../images/bg-tiled-blue.png');
    background-size: 100px;
    border: 4px solid #000;
}
#chcardimg {
    z-index: 999;
}
.chcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}
.chcontainer .row {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}
.easyrow, .medrow, .hardrow, .expertrow {
    display: none;
}
.easychallenge, .medchallenge, .hardchallenge, .expertchallenge {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    width: 100%;
    height: 100%;
    background: url('https://i.imgur.com/hYy8AUw.png');
}
#rollme {
    background: #fff url('../assets/dice/rollme.png');
    background-size: 89px;
    width: 89px;
    height: 89px;
    border: 3px solid #000;
    overflow: hidden;
    margin: 10px auto 0px;
    border-radius: 10px;
}
.whitebg {
    background: #fff;
}
.cardcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cardcontainer img {
    width: 100%;
    height: 100%;
}
button#next_turn {
    font-family: Cartoonist;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.fadein {
    opacity: 1 !important;
    transition: opacity 0.5s ease-in;
}
.test {
    display: none;
}
